<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.jobrodesign.hashthrasher"
	version 	= "0.0.1">

	<name>HashThrasher</name>

	<description>
		Social Media is about conversations! Follow along by #hashtag
	</description>

	<author href="http://jobrodesign.com"
		email="jobrodesign@gmail.com">
		Josh Brown
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<gap:plugin name="ChildBrowser" version="~3" />

	<preference name="orientation" value="default" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="false" />


</widget>
